h1{
    text-align: center;
    font-family: cursive;
    color: white;
    font-size: 250%;
   
}
#header {
    background-color: black;
}
.notification {
    background-color: black;
    
}
#weather-map{
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
}
#map {
    background-color: blue;
    color: aliceblue;
    font-size: 20px;
}
.footer {
    background-color: black;
    color:black;
}
.navbar {
    padding: 20px;
    margin-left: 45px;
    margin-right: 45px;
}
